.css_detento_id_label { }
.css_detento_id_line {text-align:left;}
.css_detento_id_obj {text-align:left;}
.css_medico_id_label { }
.css_medico_id_line {text-align:left;}
.css_medico_id_obj {text-align:left;}
.css_data_consulta_label { }
.css_data_consulta_line { }
.css_data_consulta_obj { }
.css_motivo_label { }
.css_motivo_line { }
.css_motivo_obj { }
.css_outras_infomacoes_label { }
.css_outras_infomacoes_line { }
.css_outras_infomacoes_obj { }
.css_status_id_label { }
.css_status_id_line {text-align:left;}
.css_status_id_obj {text-align:left;}
