.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_cpf_label { }
.css_cpf_line { }
.css_cpf_obj { }
.css_data_nascimento_label { }
.css_data_nascimento_line { }
.css_data_nascimento_obj { }
.css_tipo_id_label { }
.css_tipo_id_line {text-align:left;}
.css_tipo_id_obj {text-align:left;}
.css_objetos_label { }
.css_objetos_line { }
.css_objetos_obj { }
.css_data_visita_label { }
.css_data_visita_line { }
.css_data_visita_obj { }
.css_detento_id_label { }
.css_detento_id_line {text-align:left;}
.css_detento_id_obj {text-align:left;}
.css_status_id_label { }
.css_status_id_line {text-align:left;}
.css_status_id_obj {text-align:left;}
