.css_matricula_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_matricula_grid_line {vertical-align: top;text-align: right;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: left;}
.css_funcao_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_funcao_id_grid_line {vertical-align: top;text-align: right;}
.css_setor_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_setor_grid_line {text-align: center;}
.css_consultar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_consultar_grid_line {text-align: center;}
