.css_matricula_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_matricula_grid_line {vertical-align: top;text-align: right;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_ativo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ativo_grid_line {vertical-align: top;text-align: right;}
