.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_cpf_label { }
.css_cpf_line { }
.css_cpf_obj { }
.css_matricula_label { }
.css_matricula_line {text-align:left;}
.css_matricula_obj {text-align:left;}
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_data_nascimento_label { }
.css_data_nascimento_line { }
.css_data_nascimento_obj { }
.css_funcao_id_label { }
.css_funcao_id_line {text-align:left;}
.css_funcao_id_obj {text-align:left;}
.css_senha_label { }
.css_senha_line { }
.css_senha_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_ativo_label { }
.css_ativo_line { }
.css_ativo_obj { }
